In [81]:
import numpy as np
import pandas as pd
import scipy as sp

In [70]:
Alfa = pd.DataFrame([[0, 70, 75, 95, 120], [-150, -50, -50, -50, -50], [0,0,0,0,0]],index=['CashFlowIn', 'CashFlowOut', 'CashFlow'], columns=[1,2,3,4,5])

In [71]:
Alfa

               1   2   3   4    5
CashFlowIn     0  70  75  95  120
CashFlowOut -150 -50 -50 -50  -50
CashFlow       0   0   0   0    0

In [72]:
Alfa.loc['CashFlow'] = Alfa.loc['CashFlowIn'] + Alfa.loc['CashFlowOut']

In [73]:
Alfa

               1   2   3   4    5
CashFlowIn     0  70  75  95  120
CashFlowOut -150 -50 -50 -50  -50
CashFlow    -150  20  25  45   70

In [90]:
Total_inv = 150
Investor_value = 150 * 0.2
Credit = Total_inv - Investor_value

In [93]:
Investor_value

30.0

In [92]:
sp.fv(0.25,5,0,Investor_value)

-91.552734375

In [94]:
sp.fv(0.15,5,0,Credit)

-241.36286249999992

In [95]:
CN = [-300,90,100,120,150]

In [96]:
sp.npv(0.15,CN)

18.540171025689602